@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html{
  font-family:  "Noto Sans JP";
  font-size: 62.5%;
}

h1{font-size:2.4rem !important;font-weight:bold;}
h2{font-size:2.0rem !important;font-weight:bold;}
h3{font-size:1.8rem !important;font-weight:bold;}
h4{font-size:1.6rem !important;font-weight:bold;}
body{font-size:1.4rem !important;}