.now-loading-message {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
}

.log-link {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  list-style: none;
}


.flower-spinner,  .flower-spinner * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.flower-spinner {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flower-spinner .dots-container {
  height: calc(100px / 5);
  width: calc(100px / 5);
}

.flower-spinner .smaller-dot {
  background: #23651C;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: flower-spinner-smaller-dot-animation 5.0s 0s infinite both;

}

.flower-spinner .bigger-dot {
  background: #23651C;
  height: 100%;
  width: 100%;
  padding: 10%;
  border-radius: 50%;
  animation: flower-spinner-bigger-dot-animation 5.0s 0s infinite both;
}

@keyframes flower-spinner-bigger-dot-animation {
  0%, 100% {
    box-shadow: rgb(35, 101, 28) 100px 0px 0px,
    rgb(35, 101, 28) -50px 86px 0px,
    rgb(35, 101, 28) -50px -86px 0px;
  }

  50% {
    transform: rotate(180deg);
  }

  25%, 75% {
    box-shadow: rgb(35, 101, 28) 100px 0px 0px,
    rgb(35, 101, 28) -50px 86px 0px,
    rgb(35, 101, 28) -50px -86px 0px;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: rgb(35, 101, 28) 100px 0px 0px,
    rgb(35, 101, 28) -50px 86px 0px,
    rgb(35, 101, 28) -50px -86px 0px;
  }
}

@keyframes flower-spinner-smaller-dot-animation {
  0%, 100% {
    box-shadow: rgb(35, 101, 28) 50px 0px 0px,
    rgb(35, 101, 28) -25px 43px 0px,
    rgb(35, 101, 28) -25px -43px 0px;
  }

  25%, 75% {
    box-shadow: rgb(35, 101, 28) 50px 0px 0px,
    rgb(35, 101, 28) -25px 43px 0px,
    rgb(35, 101, 28) -25px -43px 0px;
  }

  100% {
    box-shadow: rgb(35, 101, 28) 50px 0px 0px,
    rgb(35, 101, 28) -25px 43px 0px,
    rgb(35, 101, 28) -25px -43px 0px;
  }
}

.log-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(200px);
  width: 400px;                /* 横幅を200pxに指定 */
  height: 400px;               /* 横幅を200pxに指定 */
  /*border: 1px solid #000;*/      /* わかりやすくボーダーを引く */
  overflow-y: scroll;          /* 縦方向にスクロール可能にする */
}